/* DeleteDepartment.js styling */
.dashboard-container {
    font-family: 'Arial, sans-serif';
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .dashboard-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .dashboard-header h1 {
    color: #282c34;
  }
  
  .dashboard-link {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dashboard-link:hover {
    text-decoration: underline;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  
  main h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  